@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;

    font-family: 'AR One Sans', sans-serif;
}

/* PARA TIRAR ROLETA DO TYPE NUMBER */

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

body {
    color: #333;
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background-image: url(./img/jaboatao.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.container {
    width: 100%;
    height: 100vh;


    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); */
    box-shadow: #333 0px 3px 8px;

}

.form-container{
    display: flex;
    justify-content: center; /* Space forms horizontally */
    align-items: flex-start; /* Align forms at the top */
    margin-top: 20px;  

}

.form-ics {
    width: 600px;

    padding: 20px;
    margin: 40px;
    margin-top: 35px;

    background-color: #ebebeb;
    box-shadow: #333 0px 3px 8px;

    border-radius: 10px;
}

.form-ics .form-header {
    width: 100%;

    padding-inline: 10px;
    padding-bottom: 10px;

    display: flex;
    justify-content: center;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 100,
    'GRAD' 0,
    'opsz' 48
}

.form-ics .input-field {
    width: 100%;
    flex: 1;

    border: 1px, #161616;

    margin-top: 15px;

}

.input-field label {
    font-size: 16px;
}

.input-field input,
.input-field select{
    width: 100%;
    flex: 1;

    margin-top: 6px;
    padding: 0.8rem;

    border: 1px, #161616;
    border-radius: 4px;

}

/* .container-input {
    display: flex;
    margin-top: 6px;
    justify-content: space-between;
} */

.container-input .id-input {
    width: 15%;

    margin-top: 6px;
    padding: 0.8rem;

    border: 1px, #161616;
    border-radius: 4px;

}

.container-input .name-input {
    width: 84%;

    margin-top: 6px;
    padding: 0.8rem;

    border: 1px, #161616;
    border-radius: 4px;

}

.input-field .search-button {
    width: 100%;
    flex: 1;

    cursor: pointer;

    margin-top: 6px;
    padding: 0.8rem;

    background-color: #f0ebeb;

    border: 1px, #161616;
    border-radius: 4px;

    transition: 0.2s;
}

.btn-1 {
    width: 100%;
    flex: 1;

    cursor: pointer;

    margin-top: 6px;
    padding: 0.8rem;

    background-color: #f0ebeb;
    color: #161616;

    border: 1px, #161616;
    border-radius: 4px;

    transition: 0.2s;
}

.container-btn-2{
    display: flex;
    margin-top: 6px;
    justify-content: space-between;
}

.container-btn-2 .btn-2 {
    width: 49.72%;
    cursor: pointer;
    
    box-sizing: border-box;

    padding: 0.8rem;

    background-color: #f0ebeb;

    border: 1px, #161616;
    border-radius: 4px;
    
    transition: 0.2s;
}

.btn-1:hover {
    background-color: #bbbbbb;
}

.btn-2:hover {
    background-color: #bbbbbb;

}

.search-button:hover {
    background-color: #bbbbbb;

}

.vertical-divider {
    border-left: 1px solid #ccc; /* Adjust the color and thickness as needed */
    height: 100%; /* Adjust the height to match the content */
    margin: 0 20px; /* Adjust the margin to control the spacing */
}


.navbar {
    width: 100%;
    height: 40px;

    display: flex;
    justify-content: center;

    background-color: #333;
    
    color: #f0ebeb;
    text-decoration: none;
}

ul.navbar {
    list-style: none;

    margin: 0;
    padding: 0;
}

li{
    display: inline-block;

    margin: 8px;
}

a {
    display: inline-block;

    text-decoration: none;

    
}

.nav-a {
    color: #fdfdfd;

}